<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <!-- Spring官方建议的配置文件命名方式是logback-spring.xml，而非logback.xml -->

    <!-- ======================================== 变量定义 ======================================== -->
    <!--定义日志文件的存储地址 勿在 LogBack 的配置中使用相对路径-->
    <!-- 这里引用了系统环境变量${user.home}，满足了服务器端与本地（linux/MacOSX）的统一 -->
    <property name="LOG_HOME" value="${user.home}/logs/sdjzuSell"/>
    <property name="LOG_PATTERN" value="%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n"/>


    <!-- ======================================== Appender定义 ======================================== -->
    <!-- 控制台输出，用于本地开发 -->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                ${LOG_PATTERN}
            </pattern>
        </layout>
    </appender>

    <!--配置 生成日志文件-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!--<fileter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMisMatch>ACCEPT</onMisMatch>
        </fileter>-->

        <encoder>
            <pattern>
                <!--设置输出格式为 时间-具体信息-->
                ${LOG_PATTERN}
            </pattern>
        </encoder>
        <!--滚动策略 每日生成一个日志文件 最多保存30天-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径 在服务器中使用-->
            <fileNamePattern>/var/log/tomcat/sell/info.%d.log</fileNamePattern>
            <!-- 日志文件保留天数 -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
    </appender>

    <!--配置 生成ERROR文件
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <-<fileter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </fileter> >
        <encoder>
            <pattern>
                <-设置输出格式为 时间-具体信息>
                ${LOG_PATTERN}
            </pattern>
        </encoder>
        <-滚动策略 每日生成一个日志文件>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <-路径 在服务器中使用>
            <fileNamePattern>${LOG_HOME}/app.%d{yyyy-MM-dd}.log.gz</fileNamePattern>
        </rollingPolicy>
    </appender>
        -->

    <root level="info">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileInfoLog"/>
        <!--appender-ref ref="fileErrorLog"/-->
    </root>
</configuration>